/* ===header-section==== */
.header-section{
    background-color: #111;
    padding: 10px;
}
.header-logo{}
.logo img {
	width: 109px;
}

.header-manu{}
.header-manu ul {
	display: block;
	line-height: 52px;
	margin-left: -114px;
}
.header-manu ul li {
	display: inline-block;
	padding: 0 10px;
}
.header-manu ul li a {
	padding: 7px 14px;
	text-decoration: none;
	color: #fff;
	margin-bottom: 1px solid #fff;
	border-bottom: 1px solid #ddd;
}
.header-manu ul li a:hover{}

/* ===main-section====*/
.main-section{
    width: 97%;
}

.left-item {
	background-color: #d2d2d2;
	border-left: 3px solid red;
	padding-left: 30px;
	height: 845px;
	padding-top: 38px;
}
.left-item h3{}
.left-item img{}
.left-item p{}

.p-text{
    border: 1px solid green;
    text-align: center;
}
.p-text {
	border: 1px solid green;
	text-align: center;
	padding: 7px;
}
/* third-item */
.third-item {
	height: 256px;
	width: 448px;
	border: 1px solid green;
}

.item-1 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 34px;
}
.flex-item {
	padding: 10px;
	background: red;
	border: 1px solid green;
}

.item-2 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: ;
	margin: 36px 10px;
}

.item-3{
    display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}

/*======footer-section====*/
.footer-section{
    padding: 10px;
    background-color: #111;
}

.footer-mneu{
    text-align: center;
}
.footer-mneu ul{
    display: block;
}
.footer-mneu ul li{
    display:inline-block;
    padding: 10px;
}
.footer-mneu ul li a {
	text-decoration: none;
	color: #ffff;;
	border-bottom: 1px solid #ddd;
}